/* Navbar.css */

.sm_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b5cad; /* Semi-transparent background to match the provided color */
    color: #fff;
    padding: 5px 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .logout-icon {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  
  .sm_navbar-logo {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    height: 75px;
    width:auto
  }
  
  .sm_navbar-links {
    list-style: none;
    display: flex;
    align-items: center; 
  }
  
  .sm_navbar-links li {
    margin-right: 25px;
    color: #fff; /* White text color */
    text-decoration: none;
    font-size: 1.3rem;
    text-shadow: 4px 4px 4px rgba(14, 13, 13, 0.9);
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .sm_navbar-links li img {
    width: 40px;
    mix-blend-mode: multiply;
  }
  
  .sm_navbar-links li img:hover {
    cursor: pointer;
  }
  
  .sm_navbar-links a {
    color: #fff; /* White text color */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .sm_navbar-links a.active { /* Styling for active menu item */
    color: black; /* Change the color for active menu item */
    -webkit-text-stroke: 2px rgb(205, 230, 238);
    font-size: 1.3rem;
  }
  
  .sm_navbar-links a:hover {
    color: black; /* Change the hover color */
    -webkit-text-stroke: 2px rgb(205, 230, 238);
    font-size: 1.3rem;
  }
  
  /* Styling for mobile responsiveness */
  @media (max-width: 768px) {
    .navbar {
      padding: 20px;
    }
  
    .navbar-logo {
      font-size: 1.5rem;
    }
  
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: rgba(37, 150, 190, 0.8); /* Semi-transparent background to match the provided color */
      width: 100%;
      text-align: center;
      padding: 10px 0;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
  
    .navbar-links.open {
      display: flex;
    }
  
    .navbar-links li {
      margin: 10px 0;
    }
  }
  